p {
    font-size: 22px;
}

#big {
    height: 500px;
    width: 500px;
    margin: auto;
    white-space: nowrap;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 100px;
    margin: auto;
}

* {
    font-size: 50px;
    font-family: Courier New;
    color: black;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
}

body {
    padding-top: 50px;
    width: 1200px;
    margin: auto;
    background-image: url(http://www.planwallpaper.com/static/images/518079-background-hd.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#projects {
    background-color: green;
}

#details {
    background-color: purple;
}

#links {
    margin: auto;
    margin-top: -100px;
    height: 110px;
    width: 650px;
}

#links div div {
    font-family: Brush Script MT;
    text-align: center;
    height: 60px;
    width: 300px;
    display: inline-block;
}

#second div {
    background-color: white;
    font-size: 26px;
    opacity: 0;
}

#second div:hover {
    opacity: 1;
}