@keyframes pulse {
    0% {
        text-shadow: 5px 5px 8px red;
    }
    20% {
        text-shadow: 5px 5px 8px green;
    }
    40% {
        text-shadow: 5px 5px 8px white;
    }
    60% {
        text-shadow: 5px 5px 8px yellow;
    }
    100% {
        text-shadow: 5px 5px 8px violet;
    }
}

@keyframes fill_up {
    0% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 0%, black 10%, rgba(9, 9, 121, 0) 100%);
    }
    5% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 5%, black 15%, rgba(9, 9, 121, 0) 100%);
    }
    10% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 10%, black 20%, rgba(9, 9, 121, 0) 100%);
    }
    15% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 15%, black 25%, rgba(9, 9, 121, 0) 100%);
    }
    20% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 20%, black 30%, rgba(9, 9, 121, 0) 100%);
    }
    25% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 25%, black 35%, rgba(9, 9, 121, 0) 100%);
    }
    30% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 30%, black 40%, rgba(9, 9, 121, 0) 100%);
    }
    35% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 35%, black 45%, rgba(9, 9, 121, 0) 100%);
    }
    40% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 40%, black 50%, rgba(9, 9, 121, 0) 100%);
    }
    45% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 45%, black 55%, rgba(9, 9, 121, 0) 100%);
    }
    50% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 50%, black 60%, rgba(9, 9, 121, 0) 100%);
    }
    55% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 55%, black 65%, rgba(9, 9, 121, 0) 100%);
    }
    60% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 60%, black 70%, rgba(9, 9, 121, 0) 100%);
    }
    65% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 65%, black 75%, rgba(9, 9, 121, 0) 100%);
    }
    70% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 70%, black 80%, rgba(9, 9, 121, 0) 100%);
    }
    75% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 75%, black 85%, rgba(9, 9, 121, 0) 100%);
    }
    80% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 80%, black 90%, rgba(9, 9, 121, 0) 100%);
    }
    85% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 85%, black 95%, rgba(9, 9, 121, 0) 100%);
    }
    90% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 90%, black 100%);
    }
    95% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 95%, black 100%);
    }
    100% {
        background: repeating-linear-gradient(#280028, transparent 5px), linear-gradient(0deg, rgba(40, 0, 40, 1) 95%, black 100%);
    }
}

@font-face {
    font-family: 'Sofia';
    src: url('assets/fonts/sofia-regular-webfont.woff') format('woff'), url('assets/fonts/sofia-regular-webfont.ttf') format('truetype');
}

*::-webkit-scrollbar {
    display: none;
}

* {
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-linear-gradient(transparent, black 5px), repeating-linear-gradient(0.15turn, black, #1b007d 5px);
    font-size: 30px;
    font-family: Sofia;
    color: white;
    text-shadow: 2px 2px black;
}

a {
    background: transparent;
}

.stuff {
    min-width: 90vw;
    justify-content: space-evenly;
    text-align: left;
    color: white;
    flex-direction: row;
    border-top: 1px solid rgb(43, 43, 43);
    border-bottom: 1px solid rgb(43, 43, 43);
}

.selector:hover {
    animation: fill_up 0.5s forwards;
}

.selector {
    background: repeating-linear-gradient(#280028, black 5px);
    animation: ease-in-out;
    animation: pulse 1s infinite;
    display: flex;
    flex-grow: 0.2;
    border-radius: 2px;
    border: 1px solid #280028;
    border-bottom: 5px solid #280028;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-main {
    margin-top: 50px;
    flex-grow: 1;
}

.page-header {
    position: fixed;
    top: -5px;
    left: -2px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: grey;
}

ul {
    flex-direction: column;
}

footer {
    font-size: medium;
}

#content1 {
    min-width: 90vw;
    flex-direction: column;
}

#content2 {
    min-width: 90vw;
    flex-direction: column;
}

.projects {
    max-width: 90vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projects * {
    height: 400px;
    width: 300px;
    background: rgba(0, 0, 0, 0.3);
    background-size: 300px 400px;
}

.projects * :hover {
    background: rgba(0, 0, 0, 0.7);
}

#project1 {
    background-image: url("photo2.jpg");
}

#project2 {
    background-image: url("assets/img/corona.jpg");
}

#project3 {
    background-image: url("assets/img/blender.png");
}

#project4 {
    background-image: url("assets/img/c.png");
}

#project5 {
    background-image: url("assets/img/java.png");
}

#project6 {
    background-image: url("assets/img/numista.jpg");
}

#project7 {
    background-image: url("assets/img/python.png");
}

#project8 {
    background-image: url("assets/img/plsql.png");
}

#project9 {
    background-image: url("assets/img/ducl.jpg");
}

#content4 {
    flex-direction: column;
}