.LandingView {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lefty {
    width:40%;
}

.righty {
    width:40%;
}

.profilePic {
    border-radius: 5%;
    margin:5%;
}


/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .LandingView{
        flex-direction: column;
    }

    .lefty {
        width:90%;
    }
    .righty {
        width:90%;
    }   
    
    .profilePic {
        border-radius: 5%;
        margin:0%;
        width: 100%;
    }
}


/* Adjust styles for even smaller screens */
@media (max-width: 480px) {
    .profilePic {
        width: 100%;
    }
}