.copy-button {
    border-radius: 30px;
    display: inline-block;
    padding: 6px 8px;
    background-color: #007bff;
    color: #fff;
    opacity: 0.9;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
background-color: #0056b3;
}

.copy-button:active {
background-color: #004080;
}
  