.skills-container {
    display: flex;
    flex-direction: row;
}

.skill {
    margin-bottom: 10px;
}

.skills-container>div {
    width:33%;
    padding:30px;
}

.skill-name {
    padding: 5px;
    font-weight: bold;
    color: rgb(190, 190, 190);
}

.skill-bar {
    height: 20px;
    background-color: #B1B1B1;
    border-radius: 10px;
    overflow: hidden;
}

.skill-level {
    height: 100%;
    background-color: #065591;
    border-radius: 10px;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
    }

    .skills-container>div {
        width:90%;
        padding: 30px;
    }
}