* {
    justify-content: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(234, 234, 234);
    flex-direction: column;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

h1 {
    padding: 5px;
}

h4 {
    padding: 5px;
    color: rgb(190, 190, 190);
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgb(190, 190, 190);
}

body {

    background: #0D1117;
    background-image: url("paper_texture.png");
    /* Replace with the path to your paper texture image */
    background-repeat: repeat;
    /* Repeat the texture to cover the entire background */
    /*background-color: green;*/
    display: flex;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: nowrap;

}

nav {
    background: #0D1117;
    z-index: 9;
    top: 0px;
    display: flex;
    position: fixed;
    align-self: flex-start;
    flex-direction: row;
    margin-bottom: 24px;
}


nav >div>a:hover {
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(168, 168, 168, 0.4) 100%);
}

nav * {
    display: flex;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper {
    z-index: 0;
    display: flex;
    margin-top: 50px;
    align-self: center;
    width: 80%;
    flex-direction: column;
}

footer {
    display: flex;
    margin-top: 24px;
    align-items: center;
}

/* Define the shape style */
.shape {
    position: fixed;
    border-radius: 50%;
    border: 1px solid;
    /* Set the border to the desired color */
    background-color: transparent;
    /* Make the background transparent */
}

.open-page {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-menu {
    flex-direction: row;
    z-index: 10;
}

.navbar-toggle {
    position: fixed;
    padding:10px;
    padding-left: 20px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
    z-index: 9;
    display: none;
    cursor: pointer;
}

.toggle-icon {
    display: block;
    width: 35px;
    height: 7px;
    padding:0px;
    background-color: #333;
    margin-bottom: 2px;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .wrapper{
        padding-top:10px;
        width:95%;
    }

    .navbar-menu {
        flex-direction: column;
        position: fixed;
        left:0;
        top: 60px;
        display:none;
        font-size: 20px;
        width:100%;
        background-color: #0D1117;
    }

    .navbar-menu > a{
        width:100%;
    }
    
    .navbar-toggle {
        display: flex;
    }

    .navbar-toggle-open .toggle-icon:nth-child(1) {
        transform: rotate(45deg);
    }

    .navbar-toggle-open .toggle-icon:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle-open .toggle-icon:nth-child(3) {
        transform: rotate(-45deg);
    }
}

.navbar-menu-open {
    display:flex;
}

.navbar-toggle-open {
    display:flex;
    background-color: #0D1117;
}